:root {
  --crimson: #a63446;
  --white: #fbfef9;
  --bluish: #0c6291;
  --black: #000004;
  --kaleji: #7e1946;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2em;
  color: var(--black);
  overflow-x: hidden;
}
button {
  cursor: pointer;
}
.App {
  width: 100vw;
  height: 100vh;
}
.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: var(--bluish);
}
.left {
  display: flex;
  flex: 3;

  padding: 1em 1em;
  align-items: center;
  justify-content: flex-start;
}
.left a {
  margin-left: 1em;
  text-decoration: none;
  color: black;
  font-size: 1em;
}
.menu-button {
  display: none;
}
@media screen and (max-width: 860px) {
  .left a {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 500px) {
  .left {
    display: none;
  }
  .menu-button {
    display: inline;
    width: 4.5em;
    height: 4em;
    padding: 0.5em;
    margin: 8px 0px 0px 2px;
  }
  #hidden {
    position: absolute;
    top: 70px;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--bluish);
    gap: 1em;
    width: 100vw;
  }
}

.right {
  width: 350px;
  display: flex;
  flex: 2;
  justify-content: flex-end;
  align-items: center;
  padding-right: 4px;
}
.right input {
  max-width: 350px;
  width: 100%;
  flex: 1;
  height: 4em;
  border-radius: 5px;
  border: 1px solid gray;
  outline: none;
  padding-left: 1em;
}

.right button {
  width: 4.5em;
  height: 4em;
  margin-left: -4px;
}
